@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}
.heading_lv2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    text-transform: capitalize;
    color: #272d38;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    background: #fcfcfc;
    border-radius: 10px;
}

.nav_container {
    width: 1076px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
    margin-right: auto;
    margin-left: auto;
}

.nav_container .image {
    display: none;
    width: 24px;
    line-height: 24px;
}

.container .nav_container .nav_container_heading {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #272d38;
}

.container .nav_container .nav_container_list {
    display: flex;
}
.container .nav_container .nav_container_list .nav_container_item {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.53;
    color: #272d38;
    margin-left: 44px;
}

.container .nav_container .nav_container_list .nav_container_item:hover {
    cursor: pointer;
}
/* hero */
.hero_container {
    max-width: 1065px;
    margin: 97px auto 0;
    display: flex;
    justify-content: space-between;
}
.hero_container .hero_container_info .heading {
    padding-top: 42px;
    max-width: 540px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    text-transform: capitalize;
    color: #272d38;
}
.hero_container .hero_container_info .desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.125rem;
    max-width: 525px;
    line-height: 1.53;
    text-transform: capitalize;
    color: #272d38;
}
.hero_container .hero_container_info .btn {
    margin-top: 39px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.72;
    color: #ffffff;
    text-transform: uppercase;
    background: #8eadd5;
    border-radius: 8px;
    padding: 10px 31px;
}
.hero_container .hero_container_info .btn:hover {
    opacity: 0.9;
}

.hero_container .hero_container_img .image {
    object-fit: cover;
}
/* companies */
.companies_container {
    margin-top: 157px;
}

.companies_container .desc {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
    color: #667085;
}
.companies_container .companies_container_bot {
    background-color: #f6f6f6;
    margin-top: 16px;
    padding: 22px 24px;
    max-width: 915px;
    display: flex;
    border-radius: 6px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
/* branding */
.branding_container {
    margin-top: 136px;
    width: 1065px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.branding_container .branding_container_left .image {
    margin-right: 180px;
    width: 450px;
    height: 450px;
    object-fit: cover;
}
.branding_container_right {
    margin-top: auto;
    margin-bottom: auto;
}
.branding_container_right .heading_lv2 {
    max-width: 435.69px;
}
.branding_container_right .desc {
    max-width: 392.22px;
    margin-top: 26px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.72;
    text-transform: capitalize;
    color: #272d38;
}
.branding_container_right .arrow {
    margin-top: 46px;
    width: 22px;
}
.branding_container_right .arrow.down {
    display: none;
}
/* custome */
.custome_container {
    margin-top: 136px;
    display: flex;
    max-width: 1065px;
    margin: 136px auto 0;
    align-items: center;
    justify-content: space-between;
}
.custome_container .custome_container_info .heading_lv2 {
    max-width: 435px;
}
.custome_container .custome_container_info .desc {
    margin-top: 26px;
    max-width: 392px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 172%;
    text-transform: capitalize;
    color: #272d38;
}
.custome_container .custome_container_info .image {
    margin-top: 46px;
}
.custome_container .custome_container_info .image.arrow {
    display: none;
}
.custome_container .custome_container_img .image {
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
}
/* testimonial */
.testimonial_container {
    max-width: 1065px;
    margin: 136px auto 0;
}
.testimonial_container .desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 172%;
    color: #272d38;
    display: flex;
    justify-content: center;
}
.testimonial_container .heading_lv2 {
    max-width: 435.69px;
    margin: 16px auto 0;
    text-align: center;
}
.testimonial_container .list {
    margin-top: 38px;
    display: flex;
}
.testimonial_container .list .item {
    border-radius: 5px;
    background-color: #f6f6f6;
    width: 33%;
    margin-right: 15px;
}
.testimonial_container .list .item img {
    margin: 0 auto;
    padding-top: 32px;
    width: 140px;
    height: 140px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.testimonial_container .list .item .name {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 153%;
    text-transform: capitalize;
    color: #272d38;
    text-align: center;
}
.testimonial_container .list .item .desc {
    max-width: 281px;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 130%;
    text-transform: capitalize;
    color: #272d38;
    text-align: center;
    margin: 27px auto 0;
    padding-bottom: 32px;
}
