@media all and (max-width: 600px) {
    .container {
        background: #fdfcfc;
        border-radius: 10px;
        width: 100vw;
    }

    .nav_container {
        padding-top: 48px;
        margin-top: 0;
        max-width: 380px;
    }
    .nav_container .nav_container_item {
        display: none;
    }
    .nav_container .image {
        display: block;
    }
    /* hero */
    .hero_container {
        width: 380px;
        display: flex;
        flex-direction: column;
    }
    .hero_container .hero_container_info .heading {
        padding-top: 0;
        font-size: 2.5rem;
        text-align: center;
        line-height: 100%;
        margin: 0 auto;
    }
    .hero_container .hero_container_info .desc {
        font-size: 1rem;
        line-height: 1.72;
        text-align: center;
        color: #272d38;
    }
    .hero_container .hero_container_info .btn {
        margin: 24px auto 0;
        font-size: 0.875rem;
        line-height: 1.96;
        padding: 10px 24px;
        display: flex;
        justify-content: center;
    }
    .hero_container .hero_container_img {
        margin: 48px auto 0;
    }
    .hero_container .hero_container_img .image {
        padding: 0 36px;

        width: 358px;
        height: 358px;
    }
}
