@media all and (max-width: 600px) {
    .container {
        background: #fdfcfc;
        border-radius: 10px;
        width: 100%;
    }

    .nav_container {
        padding: 48px 24px 0;
        margin-top: 0;
        max-width: 380px;
    }
    .container .nav_container .nav_container_heading {
        font-size: 0.875rem;
        color: #272d38;
    }
    .nav_container .nav_container_item {
        display: none;
    }
    .nav_container .image {
        display: block;
    }
    /* hero */
    .hero_container {
        width: 380px;
        display: flex;
        flex-direction: column;
    }
    .hero_container .hero_container_info .heading {
        padding-top: 0;
        font-size: 2.5rem;
        text-align: center;
        line-height: 100%;
        margin: 0 auto;
    }
    .hero_container .hero_container_info .desc {
        /* margin-top: 24px; */
        font-size: 1rem;
        line-height: 1.72;
        text-align: center;
        color: #272d38;
    }
    .hero_container .hero_container_info .btn {
        margin: 24px auto 0;
        font-size: 0.875rem;
        line-height: 1.96;
        padding: 10px 24px;
        display: flex;
        justify-content: center;
    }
    .hero_container .hero_container_img {
        margin: 48px auto 0;
    }
    .hero_container .hero_container_img .image {
        padding: 0 36px;
        width: 358px;
        height: 358px;
    }
    /* companies */
    .companies_container {
        margin-top: 120px;
    }
    .companies_container .desc {
        font-size: 0.875rem;
        padding: 25px 0;
    }
    .companies_container .companies_container_bot {
        padding: 32px 16px;
        width: 380px;
    }
    .companies_container .companies_container_bot .image {
        margin-left: auto;
        margin-right: auto;
        width: 70px;
        height: 24px;
    }
    /* branding */
    .branding_container {
        margin-top: 0;
        flex-direction: column-reverse;
        width: 90%;
    }
    .branding_container .branding_container_left .image {
        width: 100%;
        height: 384px;
        margin-right: 0;
    }

    .branding_container_right .heading_lv2 {
        margin-top: 88px;
        font-size: 2rem;
        text-align: center;
        text-transform: capitalize;
        color: #272d38;
        padding: 0 25px;
    }
    .branding_container_right .desc {
        text-align: center;
        padding: 0px 23px;
        font-size: 0.875rem;
        line-height: 196%;
    }
    .branding_container_right .arrow.down {
        display: block;
        margin: 32px auto 25px;
        width: 21.54px;
    }
    .branding_container_right .arrow {
        display: none;
    }
    /* custome */
    .custome_container {
        width: 380px;
        flex-direction: column;
        margin-top: 120px;
    }
    .custome_container .custome_container_info .heading_lv2 {
        max-width: 380px;
        max-width: 380px;
        text-align: center;
        font-size: 2rem;
        line-height: 100%;
        text-align: center;
        text-transform: capitalize;
        color: #272d38;
    }
    .custome_container .custome_container_info .desc {
        margin-top: 24px;
        font-size: 0.875rem;
        line-height: 196%;
        text-align: center;
        text-transform: capitalize;
        color: #272d38;
    }
    .custome_container .custome_container_info .image {
        display: none;
    }
    .custome_container .custome_container_info .image.arrow {
        display: block;
        margin:32px auto 24px;
    } 
    .custome_container .custome_container_img .image {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }

}
